body{ font-family: sans-serif;}
.none{ display:none;}
.dropdown{color: #444444;font-size:17px;}
.user-picker {height: 30px;}
.date-picking-field {height: 30px;}
.notice-textarea {margin-top: 10px;width: 92%;height: 80px;}
.notice-field {width: 45%;height: 30px;}
#calendar_div {width:100%;}
#calender_section {
    margin:30px auto 0;
}
#add_event_section { 
    position: relative;
}
#calender_section h2, #add_event_section h2{ background-color:#efefef; color:#444444; font-size:17px; text-align:center; line-height:40px;}
#calender_section h2 a, #add_event_section a{ /*color:#F58220;*/ float:none;font-size: 24px;text-decoration: none;margin:0 10px;}
#calender_section_top{ width:100%; float:left; margin-top:20px;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ float:left; display:block; width:14%; border-right:1px solid #fff;  text-align:center; font-size:14px; min-height:0; background:none; box-shadow:none; margin:0; padding:0;}
#calender_section_bot{ width:100%; margin-top:20px; float:left; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ 
    float:left; width:14.2%; 
    height:200px; 
    text-align:center; 
    border-top:1px solid #eee; 
    border-right:1px solid #eee; 
    min-height:0; 
    background:none; 
    margin:0; 
    padding:0; 
    position:relative;
}
#calender_section_bot ul li span{ margin-top:3px; float:left; margin-left:7px; text-align:center;}
#calender_section_bot .namespan {
    margin-top:1px;
    border: 1px solid #aaa;
    border-radius:5px;
    width:90%;
    font-size: 13px; 
    line-height: 17px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
#add_event_section {text-align: center;}
/*#add_event_section h2 {cursor:pointer;}
#add_event_section h2:before {content: " \21E3"; margin-right: 40px; font-size: 25px;}
#add_event_section h2:after {content: " \21E3"; margin-left: 40px; font-size: 25px;}*/
.add-event-btn {width: 100px;height: 30px;background-color:#444;color:#ddd;border: 0;text-align: center;position: relative;left: 40%;right: auto;padding-top: 3px;margin: 10px;border-radius:3px;}
.add-event-btn:hover {background-color:#999;color:#eee;cursor: pointer;}
.font-light-light {text-shadow: 0 0 3px white;}
.font-light-dark {text-shadow: 0 0 3px black;}
#event_list, #add_event_section {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 999;
    background-color: #f7f2e7;
    max-width: 760px;
    margin-left: 50px;
    border: 2px solid #ccc;
    box-shadow: 4px 5px 16px -5px #444, 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding: 10px 20px;
    z-index: 999999999;
    overflow-y: scroll;
}
.event-id {
    margin: 3px 0px;
    width: 350px;
    background-color: #eee;
    height: 42px;
}
.delete-dialog {
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #444;
    color: #eee;
    margin: 0 10px;
}
.delete-dialog:hover {
    background-color:#999;
    color:#eee;
    cursor: pointer;
}
.delete-btn-style {
    height: 25px;width: 30px;
}
.delete-btn-style:hover {
    //background-color: #444 !important;
}
.delete-btn-style img:hover {
    width: 18px !important;
    margin-right: 7px !important;
}
.grey{ color: white; background-color:#aaa !important;}
/*.light_sky{ background-color:#B9FFFF !important;}*/

/*========== Hover Popup ===============*/
.date_cell { 
    cursor: pointer; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 70px rgba(90, 90, 90, 0.1) inset;
}
.date_cell:hover { 
    background: #DDDDDD !important; 
}
.date_popup_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: #eee !important;
    background: rgba(0,0,0,0.8);
}
.events_window {
    overflow: hidden;
    overflow-y: auto;
    width: 133px;
    height: 115px;
    margin-top: 28px;
    margin-left: 25px;
}
.event_wrap {
    margin-bottom: 10px; padding-bottom: 10px;
    border-bottom: solid 1px #E4E4E7;
    font-size: 12px;
    padding: 3px;
}
.date_window {
    margin-top:10px;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 15px;
    margin-left:3px;
    margin-right:14px
}
.popup_event {
    margin-bottom: 2px;
    padding: 2px;
    font-size: 16px;
    width:100%;
}
.popup_event a {color: #FFFFFF !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
    #calender_section, #add_event_section{ width:336px;}
    #calender_section_top ul li{ width:47px;}
    #calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #calender_section, #add_event_section{ width:219px;}
    #calender_section_top ul li{ width:30px; font-size:11px;}
    #calender_section_bot ul li{ width:30px;}
    #calender_section_bot{ width:217px;}
    #calender_section_bot ul li{ height:50px;}
    .namespan {display: none;}
    #add_event_section h2:after {content: "";}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calender_section, #add_event_section{ width:530px;}
    #calender_section_top ul li{ width:74px;}
    #calender_section_bot ul li{ width:74px;}
    #calender_section_bot{ width:525px;}
    #calender_section_bot ul li{ height:100px;}
}
#run-btn {
    position: absolute;
    background-color: #ff6b6b;
    width: 175px;
    text-align: center;
    border: 3px solid #d63031;
    border-radius: 8px;
    box-shadow: 3px 3px 7px -4px grey;
    cursor: pointer;
}
#run-btn div {
    box-shadow: inset 2px 2px 6px -3px #444;
    padding: 7px;
    color: #d5f5d5;
    text-shadow: 2px 2px 2px black;
}
#run-btn div:hover {
    box-shadow: inset 2px 2px 9px -2px #444;
    color: #B0B0B0;
    text-shadow: 1px 1px 1px black;
}